.swiper-container {
  width:600px;
  height:600px;
  border:1px solid rgba(0,0,0,.1);
  padding:30px;
  margin-bottom:20px!important;
  display:block
}
@media (max-width:768px) {
  .swiper-container {
    height:400px
  }
}
#slider-header .swiper-pagination-bullet,
#slider-header .swiper-pagination-bullet-active,
#slider-header .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background:#fff!important
}
#slider-header .swiper-pagination-bullet-active:hover,
#slider-header .swiper-pagination-bullet:hover,
#slider-header .swiper-pagination-progressbar .swiper-pagination-progressbar-fill:hover {
  background:#c32e26!important
}
.swiper-slide {
  text-align:center;
  font-size:18px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:flex;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  -webkit-justify-content:center;
  justify-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  -webkit-align-items:center;
  align-items:center
}
#slider-auto-slides-per-view .swiper-slide:nth-child(2n) {
  width:60%
}
#slider-auto-slides-per-view .swiper-slide:nth-child(3n) {
  width:40%
}
#slider-slides-centered-auto .swiper-slide {
  width:60%
}
#slider-slides-centered-auto .swiper-slide:nth-child(2n) {
  width:40%
}
#slider-slides-centered-auto .swiper-slide:nth-child(3n) {
  width:20%
}
.swiper-slide-scrollcontainer {
  font-size:18px;
  height:auto;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  padding:30px
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%230A2D58'/%3E%3C/svg%3E")!important;
  left:0!important;
  background-color:#fff!important;
  background-size:14px 44px!important
}
.swiper-button-prev:hover,
.swiper-container-rtl .swiper-button-next:hover {
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%23c32e26'/%3E%3C/svg%3E")!important
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%230A2D58'/%3E%3C/svg%3E")!important;
  right:0!important;
  background-color:#fff!important;
  background-size:14px 44px!important
}
.swiper-button-next:hover,
.swiper-container-rtl .swiper-button-prev:hover {
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%23c32e26'/%3E%3C/svg%3E")!important
}
.swiper-pagination-bullet,
.swiper-pagination-bullet-active,
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background:#c32e26!important
}


